# Node
node_modules/
.env

# OS
.DS_Store

# build
build/
dist/

# backend & dashboard (ignored for now)
backend/
dashboard/

# frontend feature folders (ignored for now)
frontend/src/landing_page/
frontend/src/home/
frontend/src/about/
frontend/src/products/
frontend/src/pricing/
frontend/src/support/
frontend/src/signup/
